<app-navbar></app-navbar>
<!-- implement a stepper -->
<mat-stepper [linear]="isLinear" #stepper>
  <mat-step class="mt-10">
    <ng-template matStepLabel>Work Experience</ng-template>
    <div class="mt-10">
      <app-experience></app-experience>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Projects</ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Resume</ng-template>
    <app-resume></app-resume>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Contact</ng-template>
    <div class="mt-10">
      <app-contact></app-contact>
    </div>
  </mat-step>
  
</mat-stepper>
<!-- <app-skills></app-skills> -->
